.homepageDiv {
    width: 100%;
}

.main-div {
    justify-content: center;
    align-items: center;
    margin-bottom: 7.5em;
    background-color: #ffefe0;
    width: 100%;
}

.ingredients {
    display: flex;
    flex-direction: row;
}

.description {
    position: relative;
    text-align: center;
    width: 50%;
    margin: 7em auto 0 auto;
    line-height: 2.8em;
    letter-spacing: 0.07em;
}

.homepageTitles {
    margin: 3.2em auto 3.2em auto;
}

.ingredientsInput {
    margin-right: 0.625em;
    height: 2.5em;
    width: 18.75em;
}

.recipes-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.recipes-row {
    display: flex;
    justify-content: center;
}

.form {
    margin: 0 27em;
}

